*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    position: relative;
    background-image: linear-gradient(to bottom, #65dfc9, #6cdbeb);
}

.wrapper{
    position: relative;
    width: 80%;
    background-color: white;
    margin: 2% auto;
    padding: 2%;
    min-height: 100vh;
    border-radius: 2rem;
    background: linear-gradient(to right bottom ,rgba(255, 255, 255, .7),rgba(255, 255, 255, .3));
}

.navigation ul{
    display:flex;
    justify-content: flex-end
}

.navigation ul li{
    margin:3% 5% 0% 0%;
    list-style: none;
}
.steps{
    list-style-type: lower-roman;
}
.circle1, .circle2,.circle3, .circle4, .circle5, .circle6, .circle7, .circle8{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    background: #c9e9e9;
    z-index:-2
}
.circle1{
    left: 2%;
    top:2%;
}
.circle2{
    right: 2%;
    bottom:2%;
}

.circle3{
    left: 2%;
    top:20%;
}

.circle4{
    left: 2%;
    top:38%;
}

.circle5{
    left: 2%;
    bottom:2%;
}
.circle6{
    right: 2%;
    top:20%;
}
.circle7{
    right: 2%;
    top:2%;
}
.circle8{
   right: 2%;
    top:38%;
}

svg{
    position: absolute;
    bottom: 0%;
    left: 0px;
    width:80vw;
    opacity: .6;
    z-index: -3;
   margin: 0 10vw 0 10vw;;
}
button{
    margin-top: 5px;
}
.todo{
    margin:0.5rem;
    background: white;
    color:black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
   

}
