*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    position: relative;
    background-image: linear-gradient(to bottom, #65dfc9, #6cdbeb);
}

.wrapper{
    width: 80%;
    background-color: white;
    margin: 2% auto;
    padding: 2%;
    min-height: 100vh;
    border-radius: 2rem;
    background: linear-gradient(to right bottom ,rgba(255, 255, 255, .7),rgba(255, 255, 255, .3));
}

.navigation ul{
    display:flex;
    justify-content: flex-end
}

.navigation ul li{
    margin:3% 5% 0% 0%;
    list-style: none;
}
.steps{
    list-style-type: lower-roman;
}
.circle1, .circle2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    background: #c9e9e9;
    z-index:-1
}
.circle1{
    left: 2%;
    top:2%;
}
.circle2{
    right: 2%;
    bottom:2%;
}